@import url(/css/font-awesome.min.css);
/* line 3, ../sass/style.scss */
html {
  font-family: tahoma, verdana, arial;
}

/* line 7, ../sass/style.scss */
.oro-view {
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  margin: 20px auto;
}
/* line 12, ../sass/style.scss */
.oro-view td {
  border: 1px solid #666666;
}
/* line 15, ../sass/style.scss */
.oro-view thead, .oro-view tfoot {
  background-color: #666;
  color: white;
  text-align: center;
}
/* line 20, ../sass/style.scss */
.oro-view th, .oro-view tfoot td {
  padding: 0.2em 2em 0.2em 2em;
}
/* line 23, ../sass/style.scss */
.oro-view th a:after {
  font-family: 'FontAwesome';
}
/* line 26, ../sass/style.scss */
.oro-view th.oro-ascending a:after {
  content: " \f0d7";
}
/* line 29, ../sass/style.scss */
.oro-view th.oro-descending a:after {
  content: " \f0d8";
}
/* line 32, ../sass/style.scss */
.oro-view thead a, .oro-view tfoot a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 38, ../sass/style.scss */
.oro-view .oro-pagination span {
  display: inline-block;
  margin: 0 0.2em;
  line-height: 1.3em;
  min-width: 1.7em;
  height: 1.3em;
  padding: 0;
}
/* line 46, ../sass/style.scss */
.oro-view .oro-pagination a[href] span {
  background-color: #777;
}
/* line 49, ../sass/style.scss */
.oro-view .oro-pagination a span {
  border-radius: 5px;
}
/* line 52, ../sass/style.scss */
.oro-view .oro-pagination a[rel="self"] span {
  background-color: white;
  color: #333;
}
/* line 56, ../sass/style.scss */
.oro-view .oro-pagination a[rel="prev"], .oro-view .oro-pagination a[rel="next"] {
  text-align: center;
}
/* line 59, ../sass/style.scss */
.oro-view .oro-pagination a[rel="prev"] span:after {
  font-family: 'FontAwesome';
  content: "\f0d9";
}
/* line 63, ../sass/style.scss */
.oro-view .oro-pagination a[rel="next"] span:before {
  font-family: 'FontAwesome';
  content: "\f0da";
}
/* line 67, ../sass/style.scss */
.oro-view .oro-pagination span.ellipsis:after {
  content: "\f141";
}
