@import "/css/font-awesome.min.css";

html {
  font-family: tahoma, verdana, arial;
}

.oro-view {
  border: 1px solid #000;
  padding: 0;
  border-collapse:collapse;
  margin: 20px auto;
  td {
    border: 1px solid #666;
  }
  thead, tfoot {
    background-color: #666;
    color: white;
    text-align: center;
  }
  th, tfoot td {
    padding: .2em 2em .2em 2em;
  }
  th a:after {
    font-family: 'FontAwesome';
  }
  th.oro-ascending a:after {
    content: " \f0d7"
  }
  th.oro-descending a:after {
    content: " \f0d8"
  }
  thead a, tfoot a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .oro-pagination {
    span {
      display: inline-block;
      margin: 0 .2em;
      line-height: 1.3em;      
      min-width: 1.7em;
      height: 1.3em;
      padding: 0;
    }
    a[href] span {
      background-color: #777;
    }
    a span {
      border-radius: 5px;
    }  
    a[rel="self"] span {
      background-color: white;
      color: #333;      
    }
    a[rel="prev"], a[rel="next"] {
      text-align: center;
    }
    a[rel="prev"] span:after {
      font-family: 'FontAwesome';
      content: "\f0d9"
    }
    a[rel="next"] span:before {
      font-family: 'FontAwesome';
      content: "\f0da"
    }
    span.ellipsis:after {
      content: "\f141"
    }
  }
}